<a href="{{ card_product.url }}" class="special-product-wall__item {% if card_product.images.size > 1 %}special-product-wall__item_with-hover{% endif %}">
    <img loading="lazy" src="{{ card_product.featured_image | img_url: '359x448', crop: 'center'}}" alt="{{ card_product.title }}" class="special-product-wall__item-pic">
    {% if card_product.images.size > 1 %}
        <img loading="lazy" src="{{card_product.images[1] | img_url: '359x448', crop: 'center'}}" alt="{{ card_product.title }}" class="special-product-wall__item-pic2">
    {% endif %}
    <div class="special-product-wall__item-info">
        <p class="special-product-wall__item-text">Designer Name</p>
        <p class="special-product-wall__item-text">{{ card_product.title }}</p>
        <p class="special-product-wall__item-text">{{ card_product.price | money_without_trailing_zeros }}</p>
    </div>
</a>
