<a href="{{ card_product.url }}" class="special-product-wall__item">
    <img src="{{ card_product.featured_image | img_url: '359x448', crop: 'center'}}" alt="{{ card_product.title }}" class="special-product-wall__item-pic">
    <div class="special-product-wall__item-info">
        <p class="special-product-wall__item-text">Designer Name</p>
        <p class="special-product-wall__item-text">{{ card_product.title }}</p>
        <p class="special-product-wall__item-text">${{ card_product.price }}</p>
    </div>
</a>
