<a href="{{ card_product.url }}" class="special-product-wall__item">

        <img loading="lazy" src="{{ card_product.featured_image | img_url: '475x592' }}" alt="{{ card_product.title }}" class="special-product-wall__item-pic special-product-wall__item-pic_full-cover">
        {% if card_product.images.size > 1 %}
            <img loading="lazy" src="{{card_product.images[1] | img_url: '475x592' }}" alt="{{ card_product.title }}" class="special-product-wall__item-pic2">
        {% endif %}


    <div class="special-product-wall__item-info special-product-wall__item-info_center">
        <p class="special-product-wall__item-text">{{ card_product.title }}</p>
    </div>

</a>