 <header class="special-menu">
    <div class="special-menu__items special-menu__items_mobile">
        <div id="plus" href="{{ routes.cart_url }}">{{ 'plus-icon.svg' | asset_url | img_tag: 'plus' }}</div>
    </div>
    <div class="special-menu__items special-menu__items_desktop">
        <a href="{{ routes.root_url }}" class="special-menu__item">shop</a>
        <a href="https://diary.special-items.com" class="special-menu__item">diary</a>
    </div>
    <a href="{{ routes.root_url }}" class="special-menu__logo">{{ 'logo.svg' | asset_url | img_tag: 'logo' }}</a>
    <div class="special-menu__items special-menu__items_mobile">
        <a href="{{ routes.cart_url }}">
            {%- if cart != empty -%}
                {{ 'bag-full.svg' | asset_url | img_tag: 'bag', "bag-full" }}
                {{ 'bag-icon.svg' | asset_url | img_tag: 'bag', "bag-empty hidden" }}
            {%- else -%}
                {{ 'bag-full.svg' | asset_url | img_tag: 'bag', "bag-full hidden" }}
                {{ 'bag-icon.svg' | asset_url | img_tag: 'bag', "bag-empty" }}
            {%- endif -%}
        </a>
    </div>
    <div class="special-menu__items special-menu__items_desktop">
        <a href="/pages/wishlist" class="special-menu__item">wishlist: <span class="js-header-wishlist">-</span></a>
        <a href="{{ routes.cart_url }}" class="special-menu__item">bag: <span id="header-cart-count">{{ cart.item_count }}</span></a>
    </div>
    <div class="special-menu__mobile">
        <a href="{{ routes.cart_url }}" class="special-menu__mobile-bag">
            {%- if cart != empty -%}
                {{ 'bag-full.svg' | asset_url | img_tag: 'bag', "bag-full" }}
                {{ 'bag-icon.svg' | asset_url | img_tag: 'bag', "bag-empty hidden" }}
            {%- else -%}
                {{ 'bag-full.svg' | asset_url | img_tag: 'bag', "bag-full hidden" }}
                {{ 'bag-icon.svg' | asset_url | img_tag: 'bag', "bag-empty" }}
            {%- endif -%}
        </a>
        <div class="special-menu__mobile-close">
            {{ 'close.svg' | asset_url | img_tag: 'close' }}
        </div>
        <a href="{{ routes.root_url }}" class="special-menu__mobile-link-big">shop</a>
        <a href="https://diary.special-items.com" class="special-menu__mobile-link-big">diary</a>
        <a href="/pages/wishlist" class="special-menu__mobile-link-big">wishlist</a>

    <div class="special-menu__item_socials">
        <a href="#" class="special-menu__item-social">
            {{ 'instagram.svg' | asset_url | img_tag: 'Instagram' }}
        </a>
        <a href="#" class="special-menu__item-social">
            {{ 'snapchat.svg' | asset_url | img_tag: 'Snapchat' }}
        </a>
        <a href="#" class="special-menu__item-social">
            {{ 'tiktok.svg' | asset_url | img_tag: 'Tiktok' }}
        </a>
        <a href="#" class="special-menu__item-social">
            {{ 'twitter.svg' | asset_url | img_tag: 'Twitter' }}
        </a>
        <a href="#" class="special-menu__item-social">
            {{ 'linkedin.svg' | asset_url | img_tag: 'Linkedin' }}
        </a>
        <a href="#" class="special-menu__item-social">
            {{ 'spotify.svg' | asset_url | img_tag: 'Spotify' }}
        </a>
    </div>
    <div class="special-menu__item_links">
        <a href="/pages/about-us" class="special-menu__item_links-link">About</a>
        <a href="/pages/returns" class="special-menu__item_links-link">Returns</a>
        <a href="/pages/privacy-policy" class="special-menu__item_links-link">Privacy</a>
        <a href="/pages/terms-of-service" class="special-menu__item_links-link">Terms</a>
    </div>
    </div>

</header>

{% schema %}
{
  "name": "header",
  "tag": "section",
  "class": "section"
}
{% endschema %}
