 <header class="special-menu">
    <div class="special-menu__items special-menu__items_mobile">
        <div id="plus" href="{{ routes.cart_url }}">
            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="6" width="13" height="1" fill="#111111"/>
                <rect x="6" y="13" width="13" height="1" transform="rotate(-90 6 13)" fill="#111111"/>
            </svg>
        </div>
    </div>
    <div class="special-menu__items special-menu__items_desktop">
        <a href="/collections/all-product" class="special-menu__item">shop</a>
        <a href="/pages/designers" class="special-menu__item">designers</a>
        <a href="https://diary.special-items.com" class="special-menu__item">diary</a>
    </div>
    <a href="{{ routes.root_url }}" class="special-menu__logo">{{ 'logo.svg' | asset_url | img_tag: 'logo' }}</a>
    <div class="special-menu__items special-menu__items_mobile">
        <a href="{{ routes.cart_url }}" class="theme-day">
            {%- if cart != empty -%}
                {{ 'bag-full.svg' | asset_url | img_tag: 'bag', "bag-full" }}
                {{ 'bag-icon.svg' | asset_url | img_tag: 'bag', "bag-empty hidden" }}
            {%- else -%}
                {{ 'bag-full.svg' | asset_url | img_tag: 'bag', "bag-full hidden" }}
                {{ 'bag-icon.svg' | asset_url | img_tag: 'bag', "bag-empty" }}
            {%- endif -%}
        </a>
        <a href="{{ routes.cart_url }}" class="theme-night">
            {%- if cart != empty -%}
                {{ 'bag-full-black.svg' | asset_url | img_tag: 'bag', "bag-full" }}
                {{ 'bag-icon-black.svg' | asset_url | img_tag: 'bag', "bag-empty hidden" }}
            {%- else -%}
                {{ 'bag-full-black.svg' | asset_url | img_tag: 'bag', "bag-full hidden" }}
                {{ 'bag-icon-black.svg' | asset_url | img_tag: 'bag', "bag-empty" }}
            {%- endif -%}
        </a>
    </div>
    <div class="special-menu__items special-menu__items_desktop">
        <div class="special-menu__item special-menu__item_search">
         <form action="{{ routes.search_url }}" class="special-menu__item-submit-form" autocomplete="off">
          <input type="text"
            id="desktop-search"
            placeholder="Search"
            name="q"
            value=""
            class="special-menu__item-submit-input"
          />
          <input type="hidden" name="type" value="product,page" />
          <input type="hidden" name="options[unavailable_products]" value="hide" />
          <input type="hidden" name="options[prefix]" value="last" />
          <button type="submit" value="Search" class="special-menu__item-submit">
              <svg width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.2" d="M2.34 0.0319996H3.456L5.625 2.201L3.456 4.397H2.34L3.258 3.47L4.239 2.552L2.88 2.597H0.225V1.805H2.88L4.23 1.85L3.231 0.923L2.34 0.0319996Z" fill="#111111"/>
              </svg>
          </button>
          <div class="special-menu__item-submit-bar"></div>
        </form>
        </div>
        <a href="/pages/wishlist" class="special-menu__item">wishlist: <span class="js-header-wishlist">-</span></a>
        <a href="{{ routes.cart_url }}" class="special-menu__item">bag: <span id="header-cart-count">{{ cart.item_count }}</span></a>
    </div>
    <div class="special-menu__mobile">
        <a href="{{ routes.cart_url }}" class="special-menu__mobile-bag">
            {%- if cart != empty -%}
                {{ 'bag-full.svg' | asset_url | img_tag: 'bag', "bag-full" }}
                {{ 'bag-icon.svg' | asset_url | img_tag: 'bag', "bag-empty hidden" }}
            {%- else -%}
                {{ 'bag-full.svg' | asset_url | img_tag: 'bag', "bag-full hidden" }}
                {{ 'bag-icon.svg' | asset_url | img_tag: 'bag', "bag-empty" }}
            {%- endif -%}
        </a>
        <div class="special-menu__mobile-close">
            {{ 'close.svg' | asset_url | img_tag: 'close' }}
        </div>

         <form action="{{ routes.search_url }}" class="special-menu__mobile-search-form" autocomplete="off">
            <input type="text"
            placeholder="SEARCH"
            name="q"
            value=""
            class="special-menu__mobile-search-form__input"
            />
            <button class="special-menu__mobile-search-form__submit">
                <svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M5.19219 0.959999H7.67219L12.4922 5.78L7.67219 10.66H5.19219L7.23219 8.6L9.41219 6.56L6.39219 6.66H0.492188V4.9H6.39219L9.39219 5L7.17219 2.94L5.19219 0.959999Z" fill="#111111"/>
                </svg>
            </button>
          <input type="hidden" name="type" value="product,page" />
          <input type="hidden" name="options[unavailable_products]" value="hide" />
          <input type="hidden" name="options[prefix]" value="last" />
          <input type="submit" value="Search" class="hidden"/>
        </form>

        <a href="/collections/all-product" class="special-menu__mobile-link-big special-menu__mobile-link-big_shop-all">shop all</a>
       <!-- <a href="#" class="special-menu__mobile-link-small">New Arrivals</a> -->
        <a href="/collections/orbit-1-exclusives" class="special-menu__mobile-link-small">Exclusives</a>
        {% if section.settings.collection_for_mobile_list %}
            <div href="#" class="special-menu__mobile-link-small js-mobilemenu-accordion">Categories <span class="plus">+</span><span class="minus">-</span></div>
            <div class="special-menu__mobile-accordion-inner hidden">
                {%- for collection in section.settings.collection_for_mobile_list -%}
                    <a href="{{ collection.url }}" class="special-menu__mobile-accordion-item">{{collection.title}}</a>
                {%- endfor -%}
            </div>
        {% endif %}


        {% if section.blocks %}
            <div href="#" class="special-menu__mobile-link-small special-menu__mobile-link-small-last js-mobilemenu-accordion">Designers <span class="plus">+</span><span class="minus">-</span></div>
            <div class="special-menu__mobile-accordion-inner hidden">
                {% for block in section.blocks %}
                    <a href="{{ block.settings.link }}" class="special-menu__mobile-accordion-item">{{ block.settings.name }}</a>
                {% endfor %}
            </div>
        {% endif %}

        <a href="https://diary.special-items.com" class="special-menu__mobile-link-big special-menu__mobile-link-big-diary">diary</a>
        <a href="/pages/wishlist" class="special-menu__mobile-link-big">wishlist<span class="js-header-wishlist-mobile"></span></a>
        <a href="{{ routes.cart_url }}" class="special-menu__mobile-link-big special-menu__mobile-link-big_last">bag<span id="header-cart-count-mobile">{% if cart.item_count > 0 %}: {{ cart.item_count }}{% endif %}</span></a>


        {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form special-footer__input-wrapper-mobile-menu' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-form__field-wrapper">
            <div class="special-footer__input-wrapper">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class="special-footer__input"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="ContactFooter-error"
                {% elsif form.posted_successfully? %}
                  aria-describedby="ContactFooter-success"
                {% endif %}
                placeholder="TYPE EMAIL TO JOIN OUR ORBIT"
                required
              >
              <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                {% render 'icon-arrow' %}
              </button>
            </div>

            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
            {%- endif -%}

            {%- if form.posted_successfully? -%}
              <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
            {%- endif -%}
          </div>
        {%- endform -%}

    <!--<div class="special-menu__item_socials">
        <a href="#" class="special-menu__item-social">
            {{ 'instagram.svg' | asset_url | img_tag: 'Instagram' }}
        </a>
        <a href="#" class="special-menu__item-social">
            {{ 'snapchat.svg' | asset_url | img_tag: 'Snapchat' }}
        </a>
        <a href="#" class="special-menu__item-social">
            {{ 'tiktok.svg' | asset_url | img_tag: 'Tiktok' }}
        </a>
        <a href="#" class="special-menu__item-social">
            {{ 'twitter.svg' | asset_url | img_tag: 'Twitter' }}
        </a>
        <a href="#" class="special-menu__item-social">
            {{ 'linkedin.svg' | asset_url | img_tag: 'Linkedin' }}
        </a>
        <a href="#" class="special-menu__item-social">
            {{ 'spotify.svg' | asset_url | img_tag: 'Spotify' }}
        </a>
    </div>-->
      <div class="special-menu__item_socials">
        <a href="https://www.instagram.com/special.items_/" class="special-footer__item-social">
            {{ 'instagram.svg' | asset_url | img_tag: 'Instagram' }}
        </a>
        <a href="https://www.snapchat.com/add/specialitems" class="special-footer__item-social">
            {{ 'snapchat.svg' | asset_url | img_tag: 'Snapchat' }}
        </a>
<!--         <a href="#" class="special-footer__item-social">
            {{ 'tiktok.svg' | asset_url | img_tag: 'Tiktok' }}
        </a> -->
<!--         <a href="#" class="special-footer__item-social">
            {{ 'twitter.svg' | asset_url | img_tag: 'Twitter' }}
        </a> -->
        <a href="https://www.linkedin.com/company/specialitems/" class="special-footer__item-social">
            {{ 'linkedin.svg' | asset_url | img_tag: 'Linkedin' }}
        </a>
        <a href="https://open.spotify.com/user/31kdamn7j5vpe7tz4evofpgowuf4" class="special-footer__item-social">
            {{ 'spotify.svg' | asset_url | img_tag: 'Spotify' }}
        </a>
        <a href="https://discord.com/channels/@SpecialItems#3333" class="special-footer__item-social">
            {{ 'discord.svg' | asset_url | img_tag: 'Discord' }}
        </a>
    </div>
      
      
      
    <div class="special-menu__item_links">
        <a href="/pages/about" class="special-footer__item-link">About</a>
        <a href="/pages/how-it-works" class="special-footer__item-link">How it Works</a>
        <a href="/pages/fit-guide" class="special-footer__item-link">Fit Guide</a>
      <br>
        <a href="/pages/refund-policy" class="special-footer__item-link">Re-edit & Refund Policy</a>
        <a href="/pages/mission" class="special-footer__item-link">Mission</a>
      <br>
        <a href="/pages/privacy-policy" class="special-footer__item-link">Privacy Policy</a>
        <a href="/pages/terms-of-service" class="special-footer__item-link">Terms</a>
    </div>
    </div>

</header>
























{% schema %}
{
  "name": "header",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "collection_list",
      "id": "collection_for_mobile_list",
      "label": "Collections mobile menu"
    }
  ],
  "blocks": [
    {
      "name": "disigner list item",
      "type": "slide",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "disigner name"
        },
        {
          "type": "text",
          "id": "link",
          "label": "link"
        }
      ]
    }
  ]
}
{% endschema %}
