{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<section class="special-product-controls">
    <span class="special-product-controls__selected-filter">new items</span>
    <div class="special-product-controls__filters"><span>filters</span> {{ 'filter.svg' | asset_url | img_tag: 'filter' }}</div >
    <div class="special-product-controls__menu">
        {{ 'close.svg' | asset_url | img_tag: 'close', 'special-product-controls__menu-close' }}
        <div class="special-product-controls__menu-categories">
            {%- for collection in collections -%}
              <div class="special-product-controls__menu-categories-item" data-collection-url="{{ collection.url }}">{{collection.title}}</div>
            {%- endfor -%}
        </div>
        <div class="special-product-controls__menu-colors">
            <div class="special-product-controls__menu-colors-item" data-color="Black">
                <div class="special-product-controls__menu-colors-item-color special-product-controls__menu-colors-item-color_black"></div>Black
            </div>
            <div class="special-product-controls__menu-colors-item" data-color="White">
                <div class="special-product-controls__menu-colors-item-color special-product-controls__menu-colors-item-color_white"></div>White
            </div>
            <div class="special-product-controls__menu-colors-item" data-color="Grey">
                <div class="special-product-controls__menu-colors-item-color special-product-controls__menu-colors-item-color_grey"></div>Grey
            </div>
            <div class="special-product-controls__menu-colors-item" data-color="Blue">
                <div class="special-product-controls__menu-colors-item-color special-product-controls__menu-colors-item-color_blue"></div>Blue
            </div>
            <div class="special-product-controls__menu-colors-item" data-color="Brown">
                <div class="special-product-controls__menu-colors-item-color special-product-controls__menu-colors-item-color_brown"></div>Brown
            </div>
            <div class="special-product-controls__menu-colors-item" data-color="Pink">
                <div class="special-product-controls__menu-colors-item-color special-product-controls__menu-colors-item-color_pink "></div>Pink
            </div>
            <div class="special-product-controls__menu-colors-item" data-color="Green">
                <div class="special-product-controls__menu-colors-item-color special-product-controls__menu-colors-item-color_green"></div>Green
            </div>
            <div class="special-product-controls__menu-colors-item" data-color="Yellow">
                <div class="special-product-controls__menu-colors-item-color special-product-controls__menu-colors-item-color_yellow"></div>Yellow
            </div>
            <div class="special-product-controls__menu-colors-item" data-color="Orange">
                <div class="special-product-controls__menu-colors-item-color special-product-controls__menu-colors-item-color_orange"></div>Orange
            </div>
            <div class="special-product-controls__menu-colors-item" data-color="Purple">
                <div class="special-product-controls__menu-colors-item-color special-product-controls__menu-colors-item-color_purple"></div>Purple
            </div>
            <div class="special-product-controls__menu-colors-item" data-color="Red">
                <div class="special-product-controls__menu-colors-item-color special-product-controls__menu-colors-item-color_red"></div>Red
            </div>
        </div>
        <div class="special-product-controls__menu-apply">Apply No Filters</div>
    </div>
</section>

<section class="special-product-wall" id="special-product-wall" data-section-id="{{ section.id }}">
  {%- paginate collection.products by 12 -%}
    {%- for product in collection.products -%}
      {% render 'card-product',
        card_product: product
      %}
    {%- endfor -%}
    <div class="special-product-wall__item-dummy"></div>
    <div class="special-product-wall__item-dummy"></div>
    <div class="special-product-wall__item-dummy"></div>
    <div class="special-product-wall__loading hidden">
      <div class="special-pdp-product__info-controls-form-loading loading-overlay__spinner">
        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </div>
  {%- endpaginate -%}
</section>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}