{% comment %}
{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{% endcomment %}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<cart-items class="{% if cart == empty %} is-empty{% else %} {% endif %} cart-content">
  <div class="cart__warnings">
    <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
    <a href="{{ routes.all_products_collection_url }}" class="special-bag__upload-panel-btn">{{ 'general.continue_shopping' | t }}</a>
  </div>

  <form action="{{ routes.cart_url }}" class="critical-hidden" method="post" id="cart">
    <div class="special-bag-inner" id="main-cart-items" data-id="{{ section.id }}">
      <div class="js-contents cart-content">
        {%- if cart != empty -%}
          <div class="special-bag__top-panel">
            <p class="special-bag__top-panel-text">bag</p>
            <p class="special-bag__top-panel-text">{{ cart.total_price | money_with_currency }}</p>
          </div>
          <div class="">
              {%- for item in cart.items -%}
                <div class="special-bag__item card-item" id="CartItem-{{ item.index | plus: 1 }}" data-product-id="{{ item.key }}">
                    <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}" class="special-bag__item-close">
                      <a href="{{ item.url_to_remove }}" class="" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                        {{ 'close.svg' | asset_url | img_tag: 'close', '' }}
                      </a>
                    </cart-remove-button>
                    <!-- {{ 'close.svg' | asset_url | img_tag: 'close', 'special-bag__item-close' }} -->
                    <div class="special-bag__item-col1">
                      <a href="{{ item.product.url }}">
                        <img src="{{ item.image | image_url: width: 248 }}" alt="{{ item.image.alt | escape }}" loading="lazy" lass="special-bag__item-pic">
                      </a>
                    </div>
                    <div class="special-bag__item-col2">
                        <div class="special-bag__item-info">
                            <p class="special-bag__item-info-text">{{ item.product.vendor | escape }}</p>
                            <p class="special-bag__item-info-text">{{ item.product.title | escape }}</p>
                            <p class="special-bag__item-info-text">{{ item.original_price | money }}</p>
                        </div>
                        {% comment %}
                          Upload-Lift widget element container
                        {% endcomment %}

                        <div class="upload-lift">
                        </div>

                    </div>
                </div>
              {%- endfor -%}

              <div class="special-bag__upload-panel">
                  <button type="submit" id="checkout" class="special-bag__upload-panel-btn" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                    upload images to checkout
                  </button>
              </div>
          </div>
        {%- endif -%}
      </div>
    </div>

    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
  </form>
</cart-items>

<div class="loading-overlay__spinner hidden" id="cart-loading">
  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
  </svg>
</div>


{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-cart-items.settings.show_vendor.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
