{% comment %}
{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.scss' | asset_url | stylesheet_tag }}
{% endcomment %}


<div class="special-bag-inner" id="main-cart-items" data-id="{{ section.id }}">
  <div class="js-contents">
      <div class="special-bag__top-panel">
        <p class="special-bag__top-panel-text">wishlist</p>
        <!-- <p class="special-bag__top-panel-text">{{ cart.total_price | money_with_currency }}</p> -->
      </div>
      <div class="">
          {%- for item in cart.items -%}
            <div class="special-bag__item card-item" id="CartItem-{{ item.index | plus: 1 }}">
                <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}" class="special-bag__item-close">
                  <a href="{{ item.url_to_remove }}" class="" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                        {{ 'close.svg' | asset_url | img_tag: 'close', '' }}
                      </a>
                </cart-remove-button>
                <!-- {{ 'close.svg' | asset_url | img_tag: 'close', 'special-bag__item-close' }} -->
                <div class="special-bag__item-col1">
                    <img src="{{ item.image | image_url: width: 124 }}" alt="{{ item.image.alt | escape }}" loading="lazy" lass="special-bag__item-pic">
                </div>
                <div class="special-bag__item-col2">
                    <div class="special-bag__item-info">
                        <p class="special-bag__item-info-text">Designer Name</p>
                        <p class="special-bag__item-info-text">{{ item.product.title | escape }}</p>
                        <p class="special-bag__item-info-text">{{ item.original_price | money }}</p>
                    </div>
                </div>
            </div>
          {%- endfor -%}
      </div>
  </div>
</div>

{% schema %}
{
    "name": "wishlist",
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title"
        }
    ],
    "presets": [
        {
            "name": "wishlist",
            "settings": {
                "title": "wishlist"
            }
        }
    ]
}
{% endschema %}
