{% comment %}
{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.scss' | asset_url | stylesheet_tag }}
{% endcomment %}


<template id="wishlist-template">
  <div class="special-bag__item card-item">
      {{ 'close.svg' | asset_url | img_tag: 'close', 'special-bag__item-close' }}
      <div class="special-bag__item-col1">
          <img src="" alt="" loading="lazy" lass="special-bag__item-pic">
      </div>
      <div class="special-bag__item-col2">
          <div class="special-bag__item-info">
              <p class="special-bag__item-info-text item-designer"></p>
              <p class="special-bag__item-info-text item-title"></p>
              <p class="special-bag__item-info-text item-price"></p>
          </div>
      </div>
  </div>
</template>



<div class="special-bag-inner" id="wishlist" data-id="{{ section.id }}">
  <div class="js-contents">
      <div class="special-bag__top-panel">
        <p class="special-bag__top-panel-text">wishlist</p>
        <!-- <p class="special-bag__top-panel-text">{{ cart.total_price | money_with_currency }}</p> -->
      </div>
      <div id="wishlist-wrapper">

      </div>
  </div>
</div>

{% schema %}
{
    "name": "wishlist",
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title"
        }
    ],
    "presets": [
        {
            "name": "wishlist",
            "settings": {
                "title": "wishlist"
            }
        }
    ]
}
{% endschema %}
